@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@font-face {
    font-family: Didot;
    src: url(../fonts/Didot.otf);
}

html, body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #f2f2f2;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

article {
    width: 140px;
    height: 140px;
    margin: auto;
    position: relative;
}

article div, article img {
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    position: absolute;
    margin: 10%;
}

article img {
    width: 40%;
    height: 40%;
    margin: 30%;
}

article div {
    opacity: 0.3;
    -webkit-border-radius: 50% 50% 50% 0;
    -moz-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
}

article div:nth-child(1) {
    left: 5px;
    background: #FFFF01;
}

article div:nth-child(2) {
    left: -5px;
    background: #FF00FE;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}

article div:nth-child(3) {
    background: #01FFFF;
    -webkit-transform:rotate(22deg);
    -moz-transform:rotate(22deg);
    transform:rotate(22deg);
}

a {
    -webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    -ms-transition: color 300ms ease-out;
    -o-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
    text-decoration: none;
    color: #45ADA8;
}

a:hover {
    color: #58DCC3;
}

.introduction {
    margin-top: 80px;
}

.introduction h1,
.introduction h2 {
    font-weight: 300;
    margin: auto;
}

.introduction h1 {
    margin: 10px;
    font-size: 4em;
    line-height: .95em;
    font-family: 'Didot', times, serif;
}

.introduction h2 {
    opacity: 0.8;
}

.navigation {
    margin-bottom: 30px;
    margin-top: 10px;
}

.navigation a {
    text-transform: uppercase;
    margin: 0 5px;
}

section {
    display: block;
}

figure {
    -webkit-transition: box-shadow 300ms ease-out;
    -moz-transition: box-shadow 300ms ease-out;
    -ms-transition: box-shadow 300ms ease-out;
    -o-transition: box-shadow 300ms ease-out;
    transition: box-shadow 300ms ease-out;
}

figure {
    vertical-align: middle;
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    background: #fff;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    height: 350px;
    width: 320px;
}

figure a {
    text-decoration: none;
    color: #111;
}

figure .img {
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    display: block;
    height: 240px;
    width: 320px;
}

figure figcaption {
    line-height: 1.4;
    padding: 0 5px;
    margin: 16px 0 0 0;
}

figure figcaption strong {
    text-transform: uppercase;
}

figure figcaption p {
    text-decoration: none;
    opacity: 0.8;
}

figure figcaption p a {
    text-decoration: underline;
}

figure:hover {
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
}

footer {
    margin: 40px 0;
}

footer p {
    font-weight: 300;
    margin: 10px 0 0 0;
    color: #555;
}